* {
    padding: 0%;
    margin: 0%;
    box-sizing:border-box;
}

body {
    background-color: rgb(253,252,243);
}

h1 {
    font-family: 'Cinzel', sans-serif;
    letter-spacing: .5rem;
    text-align: center;
    color: rgb(238,184,129);
}

nav {
    font-family: 'Crimson Pro', sans-serif;
    font-size: .5cm;
    position: relative;
}

h5 {
    color: rgb(238,184,129);
    letter-spacing: .2rem;
    line-height: 1.8rem;
}

h4 {
    margin-bottom: 1%;
    letter-spacing: .4rem;
    color: rgb(87, 86, 86);
}

p {
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.8rem;
    color: rgb(87, 86, 86);
}

.header-primary {
    font-family: 'Crimson Pro', sans-serif;
    text-align: center;
    position: relative;
}

hr {
    width: 2%;
    height: 3px;
    margin-left: 49%;
    margin-right: auto;
    background-color: #191a1a;
    border: 0 none;
}

.header-primary img {
    width: 100%;
    max-height: 43rem;
    margin-top: 5%;
    margin-bottom: 3%;
}

.header-content {
    position: absolute;
    width: 30%;
    margin-left: 35%;
}


/* Slideshow container */
.article-2 {
    margin-top: 38%;
}
.slideshow-container {
    max-width: 100%;
    position: relative;
    width: 60%;
    height: 100%;
    /* margin-top: 2%; */
    margin-left: 20%;
    background-color: rgb(252, 235, 217);
    padding-bottom: 2.5%;
}

.mySlides {
  display: none;
  height: 62vh;
  padding: 2%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  text-decoration: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgb(238,184,129);
  color: white;
}

.numbertext {
    text-transform: uppercase;
    font-family: 'Crimson Pro', sans-serif;
    letter-spacing: 5px;
    font-size: 16px;
    color: rgb(87, 86, 86);
    font-weight: 500;
    padding-left: 5%;
    padding-top: 5%;
}

.heading__primary {
    font-family: 'Crimson Pro', sans-serif;
    font-size: 26px;
    letter-spacing: 2px;
    padding-left: 7%;
    margin-bottom: 2%;
    margin-top: 1%;
    color: rgb(238,184,129);
    width: 39%;
}

.text {
    color: sl(212, 21%, 14%);
    margin-bottom: 20px;
    text-align: justify;
    line-height: 1.5rem;
    width: 45%;
    padding-left: 10%;
    margin-bottom: 4%;
    font-family: 'Crimson Pro', sans-serif;
}

.btn__primary {
    background-color: rgb(243, 186, 129);
    color: white;
    font-family: 'Crimson Pro', sans-serif;
    outline: none;
    border: none;
    padding: 20px 30px;
    width: 15%;
    border-radius: 5px;   
    letter-spacing: .3rem;
    position: absolute;
    margin-left: 13%;
}

.content-right img{
    position: absolute;
    width: 35%;
    height: 75%;
    margin-top: -41.2%;
    margin-left: 52%;

    border-radius: 3px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: rgb(255,235,205);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgb(238,184,129);
}


/* ARTICLE 4 */
.article-4 {
    position: relative;
    margin-top: 5%;
}

.article-4__section-1 {
    position: relative;
    width: 100%;
    height: 47vh;
    background-color: rgb(255,235,205);
    font-family: 'Crimson Pro', sans-serif;
    margin-top: 3%;
}

.btn__article {
    background-color: rgb(243, 186, 129);
    color: white;
    font-family: 'Crimson Pro', sans-serif;
    outline: none;
    border: none;
    padding: 12px 1px;
    width: 50%; 
    letter-spacing: .3rem;
    position: absolute;
    margin-left: -25%;
    margin-top: 5%;
    border-radius: 2%;
}
.article-4__subsection-1 img{
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(1px);
}

.article-4__subsection-1 {
    position: absolute;
    display: inline-block;
    margin: 3%;
    width: 20%;
    height: 35vh;
    margin-left: 25%;  
}

.article-4__content-1 {
    position: relative;
    padding: 15%;
    height: 100%;
    color: white;
    text-align: center;
}

.article-4__subsection-2 {
    position: relative;
    display: inline-block;
    width: 20%;
    margin: 3%;
    height: 35vh;
    margin-left: 55%;
    border: solid 2px rgb(253, 246, 243);
}

.article-4__content-2 {
    position: absolute;
    padding: 15%;
    height: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
}

.btn__article-2 {
    background-color: rgb(243, 186, 129);
    color: white;
    font-family: 'Crimson Pro', sans-serif;
    outline: none;
    border: none;
    padding: 12px 1px;
    width: 50%; 
    letter-spacing: .3rem;
    position: absolute;
    margin-left: -25%;
    margin-top: 5%;
    border-radius: 2%;
    text-decoration: none;
}

.btn__article-2:hover {
    background-color: rgb(241, 139, 36);
    color: white;
}