* {
    padding: 0%;
    margin: 0%;
}

body {
    background-color: rgb(253,252,243);
}

/* header */

.header-primary img {
    width: 100%;
    max-height: 60rem;
    margin-top: 1%;
    padding: 3%; 
}

h1 {
    font-family: 'Cinzel', sans-serif;
    letter-spacing: .5rem;
    text-align: center;
    color: rgb(238,184,129);
}

nav {
    font-family: 'Crimson Pro', sans-serif;
    font-size: .5cm;
}

.header-primary {
    font-family: 'Crimson Pro', sans-serif;
    text-align: center;
}

h5{
    margin-bottom: 1%;
    color: rgb(238,184,129);
    letter-spacing: .4rem;
}

h4 {
    margin-bottom: 1%;
    letter-spacing: .2rem;
}

p {
    font-size: 1.1rem;
}

form {
    font-family: 'Crimson Pro', sans-serif;
    font-size: 1.1rem;
    text-align: center;
    position: relative;
    background-color: rgb(255,235,205);
    width: 30%;
    height: 79%;
    padding: 2rem;
    margin-left: 35%;
    margin-top: 1%;
    display: inline-block;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
  
input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=date], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
  
input[type=submit] {
    background-color: rgb(255,250,240);
    color: rgb(0, 0, 0);
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.inquiries {
    font-size: 1.3rem;
    letter-spacing: .2rem;
}

hr {
    width: 2%;
    height: 3px;
    margin-left: 49%;
    margin-right: auto;
    background-color: #191a1a;
    border: 0 none;
  }