* {
    padding: 0%;
    margin: 0%;
    box-sizing:border-box;
}

body {
    background-color: rgb(253,252,243);
}

h1 {
    font-family: 'Cinzel', sans-serif;
    letter-spacing: .5rem;
    text-align: center;
    color: rgb(238,184,129);
}

nav {
    font-family: 'Crimson Pro', sans-serif;
    font-size: .5cm;
    position: relative;
}

h5 {
    color: rgb(240, 146, 53);
    letter-spacing: .2rem;
    line-height: 1.8rem;
    padding-top: 2.5%;
}

h4 {
    letter-spacing: .4rem;
    color: rgb(87, 86, 86);
}

p {
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.8rem;
}

.header-primary {
    font-family: 'Crimson Pro', sans-serif;
    text-align: center;
    background-color: rgb(245, 219, 193);
    width: 90%;
    height: 20vh;
    margin-top: 6%;
    margin-left: 5%;
}

hr {
    width: 2%;
    height: 3px;
    margin-left: 49%;
    margin-right: auto;
    background-color: #191a1a;
    border: 0 none;
}



  /* ARTICLE 2 */

.article-3__section-1 {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.article-3__subsection-1 {
    position: absolute;
    display: inline-block;
    margin: 3% 5%;
    width: 27%;
    height: 67vh;
    border: solid 2px rgb(245, 219, 193);
}

.article-3__subsection-1 img{
    position: absolute;
    width: 80%;
    height: 83%;
    margin: 10%;
}

.article-3__subsection-2 {
    position: absolute;
    display: inline-block;
    margin: 3%;
    width: 27%;
    height: 67vh;
    margin-left: 36.5%;
    border: solid 2px rgb(245, 219, 193);
}

.article-3__subsection-2 img{
    position: absolute;
    width: 80%;
    height: 83%;
    margin: 10%;
}

.article-3__subsection-3 {
    position: absolute;
    display: inline-block;
    margin: 3%;
    width: 27%;
    height: 67vh;
    margin-left: 68%;
    border: solid 2px rgb(245, 219, 193);
    
}

.article-3__subsection-3 img{
    position: absolute;
    width: 80%;
    height: 83%;
    margin: 10%;
}

.btn__article-3 {
    background-color: rgb(243, 186, 129);
    color: white;
    font-family: 'Crimson Pro', sans-serif;
    outline: none;
    border: none;
    padding: 20px 30px;
    width: 52%; 
    letter-spacing: .3rem;
    position: absolute;
    margin-left: 25%;
    margin-top: 125%;
    text-decoration: none;
    
}

.btn__article-3:hover {
    background-color: rgb(241, 139, 36);
    color: white;
}

/* ARTICLE 3 */
.article-4 {
    position: relative;
    margin-top: 45%;
}

.article-4__section-1 {
    position: relative;
    width: 100%;
    height: 47vh;
    background-color: rgb(255,235,205);
    font-family: 'Crimson Pro', sans-serif;
    margin-top: 3%;
}

.btn__article {
    background-color: rgb(243, 186, 129);
    color: white;
    font-family: 'Crimson Pro', sans-serif;
    outline: none;
    border: none;
    padding: 12px 1px;
    width: 50%; 
    letter-spacing: .3rem;
    position: absolute;
    margin-left: -25%;
    margin-top: 5%;
    border-radius: 2%;
}
.article-4__subsection-1 img{
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(1px);
}

.article-4__subsection-1 {
    position: absolute;
    display: inline-block;
    margin: 3%;
    width: 20%;
    height: 35vh;
    margin-left: 25%;  
}

.article-4__content-1 {
    position: relative;
    padding: 15%;
    height: 100%;
    color: white;
    text-align: center;
}

.article-4__subsection-2 {
    position: relative;
    display: inline-block;
    width: 20%;
    margin: 3%;
    height: 35vh;
    margin-left: 55%;
    border: solid 2px rgb(253, 246, 243);
}

.article-4__content-2 {
    position: absolute;
    padding: 15%;
    height: 100%;
    color: rgb(255, 255, 255);
    text-align: center;
}

.btn__article-2 {
    background-color: rgb(243, 186, 129);
    color: white;
    font-family: 'Crimson Pro', sans-serif;
    outline: none;
    border: none;
    padding: 12px 1px;
    width: 50%; 
    letter-spacing: .3rem;
    position: absolute;
    margin-left: -25%;
    margin-top: 5%;
    border-radius: 2%;
    text-decoration: none;
}

.btn__article-2:hover {
    background-color: rgb(241, 139, 36);
    color: white;
}