* {
    padding: 0%;
    margin: 0%;
    box-sizing:border-box;
}

body {
    background-color: rgb(253,252,243);
}

/* header */

h1 {
    font-family: 'Cinzel', sans-serif;
    letter-spacing: .5rem;
    text-align: center;
    color: rgb(238,184,129);
}

nav {
    font-family: 'Crimson Pro', sans-serif;
    font-size: .5cm;
}

.container-1 {
    position: relative;
    width: 100%;
}

.header-primary {
    font-family: 'Crimson Pro', sans-serif;
    text-align: center;
}

h5{
    margin-bottom: 1%;
    color: rgb(238,184,129);
    letter-spacing: .4rem;
}

h4 {
    letter-spacing: .2rem;
}

p {
    font-size: 1.1rem;
}

hr {
    width: 2%;
    height: 3px;
    margin-left: 49%;
    margin-right: auto;
    background-color: #191a1a;
    border: 0 none;
  }

  

/* Header slides */
.swiper {
    width: 100%;
    height: 100%;
    margin-top: 2%;
}

.swiper-slide img{
    width: 100%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color: white
}

.swiper .swiper-pagination-bullet-active {
    background: white;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    width: 70%;
    height: 100%;
    margin-top: 2%;
    margin-left: 15%;
    background-color: rgb(255,235,205);
    padding-bottom: 2.5%;
}

.mySlides {
  display: none;
  height: 62vh;
  padding: 2%;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgb(238,184,129);
}

.dot {
    cursor: pointer;
    height: 8px;
    width: 8px;
    margin: 0 2px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: rgb(238,184,129);
  }
  
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


/* CONTENT FOR SERVICES */
.numbertext {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 16px;
    color: hsl(212, 21%, 14%);
    font-weight: 500;
    padding-left: 5%;
    padding-top: 5%;
}

.heading__primary {
    font-family: 'Crimson Pro', sans-serif;
    font-size: 26px;
    letter-spacing: 2px;
    padding-left: 10%;
    margin-bottom: 2%;
    margin-top: 5%;
    color: rgb(238,184,129);
    width: 39%;
}

.text {
    color: sl(212, 21%, 14%);
    margin-bottom: 20px;
    text-align: justify;
    line-height: 1.5rem;
    width: 40%;
    padding-left: 10%;
    
    margin-bottom: 4%;
}

.btn__primary {
    background-color: rgb(243, 186, 129);
    color: white;
    font-family: 'Crimson Pro', sans-serif;
    outline: none;
    border: none;
    padding: 20px 30px;
    width: 15%;
    border-radius: 5px;   
    letter-spacing: .3rem;
    position: absolute;
    margin-left: 13%;
}

.content-right img{
    position: absolute;
    width: 45%;
    height: 75%;
    margin-top: -28.5%;
    margin-left: 46%;

    border-radius: 3px;
}

