* {
    box-sizing:border-box;
    margin: 0%;
    padding: 0%;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    width: 70%;
    height: 100%;
    margin-top: 2%;
    margin-left: 15%;
    background-color: rgb(255,235,205);
    padding-bottom: 2.5%;
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 62vh;
  padding: 2%;
}


/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgb(238,184,129);
}

.numbertext {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 16px;
    color: hsl(212, 21%, 14%);
    font-weight: 500;
    padding-left: 5%;
    padding-top: 5%;
}

.heading__primary {
    font-family: 'Crimson Pro', sans-serif;
    font-size: 26px;
    letter-spacing: 2px;
    padding-left: 10%;
    margin-bottom: 2%;
    margin-top: 5%;
    color: rgb(238,184,129);
    width: 39%;
}

.text {
    color: sl(212, 21%, 14%);
    margin-bottom: 20px;
    text-align: justify;
    line-height: 1.5rem;
    width: 40%;
    padding-left: 10%;
    
    margin-bottom: 4%;
}

.btn__primary {
    background-color: rgb(243, 186, 129);
    color: white;
    font-family: 'Crimson Pro', sans-serif;
    outline: none;
    border: none;
    padding: 20px 30px;
    width: 15%;
    border-radius: 5px;   
    letter-spacing: .3rem;
    position: absolute;
    margin-left: 13%;
}

.content-right img{
    position: absolute;
    width: 45%;
    height: 75%;
    margin-top: -27.2%;
    margin-left: 46%;

    border-radius: 3px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: rgb(238,184,129);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}