* {
    margin: 0%;
    padding: 0%;
}



.swiper {
    width: 100%;
    height: 100%;
    margin-top: 2%;
}

.swiper-slide img{
    width: 100%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color: white
}

.swiper .swiper-pagination-bullet-active {
    background: white;
}